# Default ignored files
/.idea/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
# Maven build output
/target/
# 测试代码不推送到远端
/src/test/